* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Liberation Sans", sans-serif;
}
/* Navigation */
nav {
  display: grid;
  align-content: center;
  line-height: 1.5em;
  justify-content: end;
  width: 100%;
  height: 5vh;
}
nav ul {
  align-self: flex-end;
  list-style-type: none;
  display: flex;
}
nav ul li {
  margin-right: 1em;
  align-self: flex-end;
}
nav a {
  color: grey;
  font-size: 0.9em;
  text-decoration: none;
}
nav a:hover {
  color: grey;
  text-decoration: underline;
}
/* Logo */
div.logo {
  height: 20vh;
  display: grid;
  align-items: end;
  justify-items: center;
  margin: 2em 0;
}
div.logo h1 {
  font-size: 4em;
}
div.logo h1:after {
  font-size: 0.2em;
  content: "clone";
}
