:root {
  --fg-color: black;
  --fg-h1-color: darkgrey;
  --bg-color: white;
  --input-border-color: lightgrey;
  --fg-a-color: grey;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Liberation Sans", sans-serif;
  background-color: var(--bg-color);
  color: var(--fg-color);
  display: grid;
  height: 100vh;
  align-content: flex-start;
  margin: 0 1em;
}
/* Top Navigation */
nav {
  align-content: center;
  display: grid;
  height: 5vh;
  line-height: 1.5em;
  justify-content: end;
  width: 100%;
}
nav ul {
  align-self: flex-end;
  list-style-type: none;
  display: flex;
}
nav ul li {
  margin: 0 1em;
  align-self: flex-end;
}
nav ul li:last-child {
  margin-right: 0;
}
nav a {
  color: var(--fg-a-color);
  font-size: 0.9em;
  text-decoration: none;
}
nav a:hover {
  color: grey;
  text-decoration: underline;
}
nav.advanced {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.advanced h1 {
  font-size: 1.4em;
  justify-self: start;
  width: 10em;
}
nav.advanced ul {
  justify-self: end;
  align-self: center;
  width: auto;
}

/* Logo */
.logo {
  align-items: flex-end;
  display: grid;
  height: 24vh;
  justify-items: center;
  margin-bottom: 2em;
  width: 100%;
}
h1 {
  color: var(--fg-h1-color);
  font-family: system-ui;
  font-size: 4em;
}
h1:after {
  font-size: 0.2em;
  content: "clone";
}
.logo span {
  color: blue;
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 10em;
  position: absolute;
}
/* Search */
.search {
  display: grid;
  justify-self: center;
  text-align: center;
  max-width: 600px;
  width: 100%;
}
input[type="submit"] {
  background: transparent;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  font-size: 0.9em;
  margin-top: 1.8em;
  line-height: 1.4em;
  padding: 0.5em 1em;
  width: auto;
}
input[type="submit"]:hover {
  background-color: lightgray;
}

.search-box {
  border: 1px solid var(--input-border-color);
  border-radius: 24px;
  display: grid;
  line-height: 1.8em;
  margin: 0 auto;
  padding: 0 1em 0 2em;
  position: relative;
  width: 80%;
}
.search-box svg {
  align-self: center;
  left: 0.5em;
  position: absolute;
  stroke: lightgrey;
}
.search-box input[type="text"]:focus {
  outline: none;
}
.search-box input[type="text"] {
  background: transparent;
  border: none;
  line-height: 2.6em;
  justify-self: center;
  text-align: left;
  width: 100%;
}
